#projects-section {
    text-align: center;
    height: 100%;
    width: 100%;
    background:#F0E2C0;
  }

  main {
    background: #F0E2C0;
  }

h2 {
    padding-top: 20px;
    margin: 0 auto;
}

h3 {
    text-align: left;
    padding: 5px 0 0 10px;
    margin: 0;
}

article {
    width: 800px;
    height: 150px;
    margin: 20px auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    .save-project {
        border-radius: 50%;
        font-size: 25px;
        margin-right: 700px;
        margin-top: 10px;
    }
   
}

form { 
   input, .save-project {
      height: 40px;
      width: 180px;
      display: block;
      margin: 10px auto;
      font-family: 'Scope One', serif;
      font-size: 1rem;
      font-weight: bold; 
    } 

    input::placeholder {
      padding-left: 10px;
    } 

    .save-project {
       width: 185px;
       cursor: pointer;
       background-color: #F1D082;
       border: 1px solid black;
       border-radius: 10px;
       font-size: 1.5rem;
       &:hover {
        background-color: #F0E2C0;
      }   
   }
}

.fa-trash {
  cursor: pointer;
  float: right;
  margin-top: 70px;
}


.palette-form {
  display: flex;

}