html {
  scroll-behavior: smooth;
}
.App {
  text-align: center;
  background: url(../../images/wilson.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  font-family: 'Scope One', serif;
}

header {
  display: flex;
  justify-content: space-between;

  h1 {
    padding: 60px;
    font-weight: normal;
    font-size: 4.5rem;
   
  }
 
  button {
    display: block;
    height: 70px;
    width: 220px;
    font-size: 1.5rem;
    margin: 50px;
    font-family: 'Scope One', serif;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    background-color: #F1D082;
    border: 1px solid black;

    &:hover {
      background-color: #F0E2C0;
    }
  } 
}

.fences {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2.5%;
  margin-right: 2%;
}
.fence {
  height: 875px;
  width: 96px;
  margin: 8px 8px 0 8px;
  border-radius: 10px;
}

.fa-unlock-alt {
  margin-top: 700px;
  font-size: 30px;
  cursor: pointer;
}

