html {
  scroll-behavior: smooth;
}
.App {
  text-align: center;
  background: url(../../images/wilson.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  font-family: 'Scope One', serif;
}

header {
  display: flex;
  justify-content: space-between;

  h1 {
    font-weight: normal;
    font-size: 4.5rem;
   
  }
 
  .home-buttons {
    display: inline-block;
    font-size: 1.5rem;
    margin: 10px;
    font-family: 'Scope One', serif;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      color: blue;
    }
  } 
}

.fences {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 2%;
}

.fence {
  height: 650px;
  width: 6%;
  margin: 0 8px 0 8px;
  border-radius: 10px;
}

.fa-unlock-alt, .fa-lock {
  margin-top: 400px;
  font-size: 30px;
  cursor: pointer;
}

